<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/styles2.css">
</head>

<body>
  Hello World with ejs
  <div>
    <img class="hinhanh" src="/images/anhgaichemat.webp" />
  </div>
</body>

</html>